footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer.light {
  background-color: rgb(204, 193, 228);
  color: #122;
}

footer.dark {
  background-color: #133;
  color: #c0c0c0;
}